<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-hello [referrals]="42" [title]="'OMG'"></app-hello>
<app-hello (increment)="view($event)"> First</app-hello>
<app-hello (increment)="view($event)"> Second</app-hello>
<router-outlet></router-outlet>
<h2>{{subtitle}}</h2>
<p>Angular{{getVal()}}</p>
<p>5+7 = {{5+7}} </p>

<button [innerHTML]="buttonContent"></button>
<input [value]="inputValue" type="text" />
<img alt="random" [src]="imgSrc" />
<p>{{ clicked }}</p>
<button (click)="handleClick($event)">Click</button>
<p>Input value: {{ text }}</p>
<input type="text" (input)="handleInput($event)">

<p *ngIf="active">This will be displayed.</p>
<div *ngIf="isAdult()">This will not be displayed</div>
<ul>
    <li *ngFor="let play of plays">Title: <strong>{{ play }}</strong></li>
</ul>

<p *ngFor="let course of data">
    {{ course.id }} - <strong>{{ course.name }}</strong>
</p>