<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Konstantinos {{ title }}</h1>
    <div class="calculator">
        <input type="text" class="calculator-screen" value="{{lcdValue}}" disabled />
        <div class="calculator-keys">
            <button (click)="getOperator('/')" type="button" class="operator" value="/">&divide;</button>
            <button (click)="getOperator('*')" type="button" class="operator" value="*">&times;</button>
            <button (click)="getOperator('-')" type="button" class="operator" value="-">-</button>
            <button (click)="getOperator('+')" type="button" class="operator" value="+">+</button>

            <button (click)="getNumber(7)" type="button" value="7">7</button>
            <button (click)="getNumber(8)" type="button" value="8">8</button>
            <button (click)="getNumber(9)" type="button" value="9">9</button>
            <button (click)="getNumber(4)" type="button" value="4">4</button>
            <button (click)="getNumber(5)" type="button" value="5">5</button>
            <button (click)="getNumber(6)" type="button" value="6">6</button>
            <button (click)="getNumber(1)" type="button" value="1">1</button>
            <button (click)="getNumber(2)" type="button" value="2">2</button>
            <button (click)="getNumber(3)" type="button" value="3">3</button>
            <button (click)="getNumber(0)" type="button" value="0">0</button>
            <button (click)="getDecimalPoint('.')" type="button" class="decimal" value=".">.</button>
            <button (click)="calculate()" type="button" class="equal-sign" value="=">=</button>
            <button (click)="clear()" type="button" class="all-clear" value="all-clear">AC</button>
        </div>
    </div>
</body>

</html>